* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 35px;
}

.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 550px) {
  .wrapper form {
    width: 400px;
  }
}

.shake {
  animation: shake 0.2s ease-in-out;
}

@keyframes shake {
  50% {
    transform: translateX(15px);
  }
  75% {
    transform: translateX(-15px);
  }
  to {
    transform: none;
  }
}
